/* Table */
.md-typeset__table {
  display: block;
  border-radius: 0.5rem;
}

.md-typeset table:not([class]) {
  display: inline-table;
  border-radius: 0.5em;
  font-size: medium;
}

/*
thead {
  border-radius: 0.5em;
  font-size: medium;
}

tbody {
  font-size: medium;
}

.md-typeset table:not([class]) th {
  border-radius: 0.1em;
  background-color: none;
}
*/